
header{
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:lightslategray;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 16px;
    border-radius: 10px;
     }
     body {
       font-size: 16px;
       font-family: "Sansita", Ubuntu, sans-serif;
   }
   main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
main section h2{
	color: whitesmoke;
    background-color:gray;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #333;
    font-size: x-large;
    
}
.colimage {
	box-shadow: 0 0 30px #333;
}
img{
    width: 300px;
   height: 440px;
   
   
}
footer {
    text-align: center;
    background-color:lightslategray;
    padding: 3px;
    border-radius: 10px;
    
 }
 section h3{
    background-color: gray;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    font-size:x-large;
    box-shadow: #333;
 }
 
  /* Media query for small screens (e.g., 768px and below) */
  @media (max-width: 768px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }