/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
    .card {
        float: left;
        width: 50%;
        height: 300px;
        padding: 20px;
        box-sizing: border-box;
        
    }
    
      
}
